button {
      font-family: 'Mojangles';
      font-size: 16px;
      text-decoration: none;
      border-radius: 8px;
      position: fixed;
      background-color: #7CB342;
      color: 'white';
      cursor: pointer;
      transition: background-color 0.2s ease, transform 0.2s ease;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1000;
}
button:hover { background-color: #558B2F; }
