* { font-family: inherit; }
@font-face {
	font-family: "Mojangles";
	src: url("/minecraft_font.woff2") format("woff2"),
	     url("/minecraft_font.woff") format("woff"),
	     url("/minecraft_font.ttf") format("truetype");
	font-display: swap;
}
a { color: inherit; text-decoration: underline; }
input[type="checkbox"],
input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  width: 1em;
  height: 1em;
  margin: 0 .4em 0 0;

  cursor: pointer;
  vertical-align: middle;

  border: 0.1em solid #666;
  border-radius: 0.2em;
  background: #fff;
  position: relative;
}
input[type="checkbox"]:checked {
  background: #0078ff;
  border-color: #0078ff;
}
input[type="checkbox"]:checked::after {
  content: "✔";
  font-size: 0.8em;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: 1em;
  text-align: center;
}
