    <style>
        @font-face {
            font-family: 'MinecraftFont';
            src: url('minecraft_font.woff') format('woff'),
                 url('minecraft_font.tff') format('truetype');
        }
        body {
            font-family: 'MinecraftFont', sans-serif;
            text-align: center;        
            padding: 20px;
            transition: background-color 0.3s, color 0.3s;
        }
        h1 { font-size: 36px; margin-bottom: 20px; }
        .header-link {
            font-size: 16px;
            text-decoration: none;
            padding: 10px 20px;
            border-radius: 8px;
            position: absolute;
            top: 20px;
            right: 20px;
        }
        .shortcut-button {
            font-family: 'MinecraftFont', sans-serif;
            display: inline-block;
            padding: 15px;
            margin: 10px;
            cursor: pointer;
            border: none;
            border-radius: 8px;
            font-size: 18px;
            transition: background-color 0.3s;
        }
        .shortcut-nonview {
            font-family: 'MinecraftFont', sans-serif;
            display: inline-block;
            padding: 15px;
            margin: 10px;
            cursor: pointer;
            border: none;
            border-radius: 8px;
            font-size: 18px;
            transition: background-color 0.3s;
        }
        .shortcut-mod {
            font-family: 'MinecraftFont', sans-serif;
            display: inline-block;
            padding: 15px;
            margin: 10px;
            cursor: pointer;
            border: none;
            border-radius: 8px;
            font-size: 18px;
            transition: background-color 0.3s;
        }
        @media (prefers-color-scheme: dark) {
            body { background-color: #282c34; color: white; }
            .header-link { background-color: #f44336; color: white; }
            .header-link:hover { background-color: #e53935; }
            .shortcut-button { font-family: 'MinecraftFont', sans-serif; background-color: #4CAF50; color: white; }
            .shortcut-nonview { font-family: 'MinecraftFont', sans-serif; background-color: red; color: white; }
            .shortcut-mod { font-family: 'MinecraftFont', sans-serif; background-color: orange; color: white; }
            .shortcut-button:hover, .info-button:hover, .brewing-button:hover { background-color: #45a049; transform: scale(1.2); }
            .shortcut-button:active { background-color: #5CAFA1; transform: scale(0.8); }
            #content { border: 1px solid #ddd; }  
            .url-bar { background-color: #282c34 !important; }
            .url-input { background-color: #3B4048; color: white; }
        }
        @media (prefers-color-scheme: light) {
            body { background-color: #f0f0f0; color: black; }
            .header-link { background-color: #f44336; color: white; }    
            .header-link:hover { background-color: #e53935; }
            .shortcut-button, .info-button, .brewing-button { font-family: 'MinecraftFont', sans-serif; background-color: #4CAF50; color: white; }
            .shortcut-nonview{ font-family: 'MinecraftFont', sans-serif; background-color: red; color: white; }
            .shortcut-mod{ font-family: 'MinecraftFont', sans-serif; background-color: orange; color: white; }
            .shortcut-button:hover, .info-button:hover, .brewing-button:hover { font-family: 'MinecraftFont', sans-serif; background-color: #45a049; }
            #content { border: 1px solid #aaa; } 
            .url-bar { background-color: #f0f0f0 !important; }
            .url-input { background-color: #e0e0e0; color: black; }
        }
        .trading-one { color: #616161; }
        .trading-two { color: #d8af93; }
        .trading-three { color: #fdff76; }
        .trading-four { color: #41f384; }
        .trading-five { color: #a4fdf0; }    
        .trading-emerald { color: #41DC84; }
        .rarity-uncommon { color: #ffff00; }
        .rarity-rare { color: #54FBFB; }
        .rarity-epic { color: #ff00ff; }       
        #content {
            margin-top: 20px;
            text-align: left;
            font-size: 18px;
            max-height: 500px;
            overflow-y: auto;
            border: 1px solid #ddd;
            padding: 10px;
            box-sizing: border-box;
        }
        .key-image { width: 268px; height: 104px; margin: 5px; }
        table { width: 100%; border-collapse: collapse; margin-top: 20px; }
        table, th, td { border: 1px solid white; }
        th, td { padding: 8px; text-align: left; }
        th { cursor: pointer; }
        .info-content {
            margin-top: 15px;
            text-align: left;
            display: none; /* Anfangs nicht anzeigen */
            max-height: 375px;
            overflow-y: auto;
            border: 1px solid #ddd;
            padding: 10px;
            box-sizing: border-box;
        }

        .url-bar { background-color: #282c34; padding: 10px; border-radius: 6px; display: flex; flex-direction: row; margin-bottom: 20px; }
        .url-bar span { margin: 5px 0; font-size: 16px; }
        .url-bar { color: #007BFF; text-decoration: none; }
        .url-bar a:hover { text-decoration: bold; }
        .url-label { margin-top: 4px;}
        
        .url-input {
            font-family: 'MinecraftFont', sans-serif;
            font-size: 12px;
            background-color: #3B4048;
            color: white;
            padding: 10px;
            border: none;
            border-radius: 5px;
            width: 300px;
            margin-bottom: 10px;
            text-decoration: bold;
        }
        
        .history-forward, .history-back {
            display: block !important;
            position: relative;
            width: 20px !important;
            height: 20px !important;
            background-color: #282c34 !important;
            color: blue !important;
            cursor: pointer !important;
            text-align: center;
            line-height: 20px;
            border: none !important;
            border-radius: 0px;
        }
        .history-forward:active, .history-back:active { color: orange !important; }
        .history-forward:disabled, .history-back:disabled { cursor: not-allowed !important; color: grey !important; }            
        .custom-alert {
            position: fixed;
            top: 30%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: white;
            border: 1px solid black;
            padding: 20px;
            z-index: 1000;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
        .custom-alert h2 {
            margin: 0 0 10px;
            font-size: 18px;
        }
        .custom-alert button {
            padding: 5px 10px;
            background-color: black;
            color: white;
            border: none;
            cursor: pointer;
            font-family: 'MinecraftFont', sans-serif;
        }

        .clean-button {
            background: none;
            border: none;
            padding: 0;
            cursor: pointer;
            outline: none; /* entfernt den Rahmen beim Anklicken */
            text-align: middle;
            display: none;
        }
        .clean-button img { display: block; }    
        @keyframes squeeze {
            0% { transform: scale(1); }
            50% { transform: scale(0.9); }
            100% { transform: scale(1); }
        }
        .button-category { animation: squeeze 0.4s ease; }
